<!DOCTYPE html>
<html lang="en" xmlns:th="http://ww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title th:text="'Forum™ - ' + ${thread.title}">Forum™ - Thread Title</title>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container">
    <div class="card">
        <h5 class="card-header" th:text="${thread.creator.username} + ' says: ' + ${thread.title}"></h5>
        <div class="card-body">
            <p class="card-text" th:text="${thread.comments[0].text}"></p>

            <!-- start of images section -->
            <table>
                <tr th:unless="${#lists.isEmpty(thread.comments[0].images)}">
                    <td>
                        <div style="display: flex; flex-wrap: wrap; gap: 10px; max-width: 100%;">
                            <div th:each="image, imageStat : ${thread.comments[0].images}" style="margin-bottom: 10px;">
                                <label th:for="'popup' + ${imageStat.index}">
                                    <img th:src="@{'/images/' + ${image.imageName}}"
                                         alt="Thumbnail"
                                         style="width: 200px; height: 200px; object-fit: cover; cursor: pointer;">
                                </label>
                                <input type="checkbox" th:id="'popup' + ${imageStat.index}" class="popup-trigger" style="display:none;">
                                <div class="popup-container">
                                    <label th:for="'popup' + ${imageStat.index}" class="popup-background"></label>
                                    <div class="popup-content">
                                        <img th:src="@{'/images/' + ${image.imageName}}" alt="Full size image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <!-- end of images section -->

            <a th:href="@{/edit/thread/{id}(id=${thread.id})}" class="card-link edit-link"
               th:if="${#authentication.name == thread.creator.username or #authorization.expression('hasRole(''ROLE_ADMIN'')')}">Edit</a>
            <a th:href="@{/delete/thread/{id}(id=${thread.id})}" class="card-link delete-link"
               th:if="${#authentication.name == thread.creator.username or #authorization.expression('hasRole(''ROLE_ADMIN'')')}"
               onclick="return confirm('Are you sure you want to delete this content?')">Delete</a>
        </div>
    </div>

    <!-- start of comments sections -->
    <hr>
    <div class="card mb-3">
        <div class="card-header">Add a comment</div>
        <div class="card-body">
            <form th:action="@{/new/comment/{threadId}(threadId=${thread.id})}" method="post" th:object="${commentDto}">
                <div class="form-group">
                    <textarea class="form-control" th:field="*{text}" rows="3" placeholder="Enter your comment here"></textarea>
                    <p th:if="${#fields.hasErrors('text')}" th:errorclass="text-danger" th:errors="${commentDto.text}"></p>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Comment</button>
            </form>
        </div>
    </div>
    <hr>

    <div th:each="comment, commentStat : ${thread.comments}" th:if="${commentStat.index > 0}">
        <div class="card reply">
            <div class="card-header" th:text="${comment.creator.username} + ' replies: '"></div>
            <div class="card-body">
                <blockquote class="mb-0">
                    <p th:text="${comment.text}"></p>
                </blockquote>
                <a th:href="@{/delete/comment/{id}(id=${comment.id})}" class="card-link delete-link"
                   th:if="${#authentication.name == comment.creator.username or #authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                   onclick="return confirm('Are you sure you want to delete this content?')">Delete</a>
            </div>
        </div>
    </div>
    <!-- end of comments section -->
</div>

<div th:replace="~{footer :: footer}"></div>

</body>
</html>