body{
    background-color: #758467;
}

.card {
    margin-top: 10px;
    background-color: #505F48;
    border-color: black;
}

.reply {
    background-color: #A1B29B;
    font-size: medium;
}

.card-title{
    font-weight: bold;
    font-size: larger;
}

.popup-trigger:checked + .popup-container {
    display: flex;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.popup-content {
    max-width: 90%;
    max-height: 90%;
    z-index: 1001;
}

.popup-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: #586153;
    color: black;
    border-color: black;
}